In [1]:
import requests #pip install requests
from bs4 import BeautifulSoup as bs #pip install beautifulsoup4
import pandas as pd

In [2]:
def scrape(link):
    #Load the webpage content
    r = requests.get(link)

    #Convert to a beautiful soup object
    soup = bs(r.content) 

    #Extract column names from table
    table = soup.select('table.stats-table')[0]
    columns = table.find('thead').find_all('th')
    column_names = [c.string for c in columns]

    #Extract table rows
    table_rows = table.find('tbody').find_all('tr')
    
    #Create dataframe
    l = []
    for tr in table_rows:
        td = tr.find_all('td')
        row = [str(tr.get_text()).strip() for tr in td]
        l.append(row)

    df = pd.DataFrame(l, columns = column_names)

    return df

# Create Dataframes for Top 500 players S2 Act2

- Data from dak.gg/valorant/leaderboard
- Data updated as of 2021-03-22 13:10
- Season 2 Act 2 
- Top 500 players in Korea, EU, NA, Asian Pacific, BR, LATAM

## Korean Dataframe

In [3]:
#Create Top 500 Korean stat links 
kr_link1 = 'https://dak.gg/valorant/leaderboard'
kr_link2 = 'https://dak.gg/valorant/leaderboard?shard=kr&page=2&season=2&act=2'
kr_link3 = 'https://dak.gg/valorant/leaderboard?shard=kr&page=3&season=2&act=2'
kr_link4 = 'https://dak.gg/valorant/leaderboard?shard=kr&page=4&season=2&act=2'
kr_link5 = 'https://dak.gg/valorant/leaderboard?shard=kr&page=5&season=2&act=2'
kr_link6 = 'https://dak.gg/valorant/leaderboard?shard=kr&page=6&season=2&act=2'
kr_link7 = 'https://dak.gg/valorant/leaderboard?shard=kr&page=7&season=2&act=2'
kr_link8 = 'https://dak.gg/valorant/leaderboard?shard=kr&page=8&season=2&act=2'
kr_link9 = 'https://dak.gg/valorant/leaderboard?shard=kr&page=9&season=2&act=2'
kr_link10 = 'https://dak.gg/valorant/leaderboard?shard=kr&page=10&season=2&act=2'

#Create Top 500 Korean 500 df's
df_kr1 = scrape(kr_link1)
df_kr2 = scrape(kr_link2)
df_kr3 = scrape(kr_link3)
df_kr4 = scrape(kr_link4)
df_kr5 = scrape(kr_link5)
df_kr6 = scrape(kr_link6)
df_kr7 = scrape(kr_link7)
df_kr8 = scrape(kr_link8)
df_kr9 = scrape(kr_link9)
df_kr10 = scrape(kr_link10)

In [4]:
#Concatenate the Top 500 Korean dataframe
df_KR = pd.concat([df_kr1, 
           df_kr2,
           df_kr3, 
           df_kr4, 
           df_kr5, 
           df_kr6, 
           df_kr7, 
           df_kr8, 
           df_kr9, 
           df_kr10])

#Add Region feature dataframe
df_KR['Region'] = 'Korea'

#Drop Most Agent Columns
df_KR.drop(columns= 'Most Agents', inplace=True)

In [8]:
def create_link_kr():
    '''
    create links to scrape for kr server
    '''
    for season in range(2, 10, 1):
        for act in range(1, 4, 1):
            if ValueError:
                kr_link2 = 'https://dak.gg/valorant/leaderboard?shard=kr&page=2&season={}&act={}'.format(season, act-1)
                kr_link3 = 'https://dak.gg/valorant/leaderboard?shard=kr&page=3&season={}&act={}'.format(season, act-1)
                kr_link4 = 'https://dak.gg/valorant/leaderboard?shard=kr&page=4&season={}&act={}'.format(season, act-1)
                kr_link5 = 'https://dak.gg/valorant/leaderboard?shard=kr&page=5&season={}&act={}'.format(season, act-1)
                kr_link6 = 'https://dak.gg/valorant/leaderboard?shard=kr&page=6&season={}&act={}'.format(season, act-1)
                kr_link7 = 'https://dak.gg/valorant/leaderboard?shard=kr&page=7&season={}&act={}'.format(season, act-1)
                kr_link8 = 'https://dak.gg/valorant/leaderboard?shard=kr&page=8&season={}&act={}'.format(season, act-1)
                kr_link9 = 'https://dak.gg/valorant/leaderboard?shard=kr&page=9&season={}&act={}'.format(season, act-1)
                kr_link10 = 'https://dak.gg/valorant/leaderboard?shard=kr&page=10&season={}&act={}'.format(season, act-1)

    return kr_link1, kr_link2, kr_link3, kr_link4, kr_link5, \
           kr_link6, kr_link7, kr_link8, kr_link9, kr_link10

In [9]:
create_link_kr()

('https://dak.gg/valorant/leaderboard',
 'https://dak.gg/valorant/leaderboard?shard=kr&page=2&season=9&act=2',
 'https://dak.gg/valorant/leaderboard?shard=kr&page=3&season=9&act=2',
 'https://dak.gg/valorant/leaderboard?shard=kr&page=4&season=9&act=2',
 'https://dak.gg/valorant/leaderboard?shard=kr&page=5&season=9&act=2',
 'https://dak.gg/valorant/leaderboard?shard=kr&page=6&season=9&act=2',
 'https://dak.gg/valorant/leaderboard?shard=kr&page=7&season=9&act=2',
 'https://dak.gg/valorant/leaderboard?shard=kr&page=8&season=9&act=2',
 'https://dak.gg/valorant/leaderboard?shard=kr&page=9&season=9&act=2',
 'https://dak.gg/valorant/leaderboard?shard=kr&page=10&season=9&act=2')

## European Dataframe

In [8]:
#Create Top 500 European stat links
eu_link1 = 'https://dak.gg/valorant/leaderboard?shard=eu'
eu_link2 = 'https://dak.gg/valorant/leaderboard?shard=eu&page=2&season=2&act=2'
eu_link3 = 'https://dak.gg/valorant/leaderboard?shard=eu&page=3&season=2&act=2'
eu_link4 = 'https://dak.gg/valorant/leaderboard?shard=eu&page=4&season=2&act=2'
eu_link5 = 'https://dak.gg/valorant/leaderboard?shard=eu&page=5&season=2&act=2'
eu_link6 = 'https://dak.gg/valorant/leaderboard?shard=eu&page=6&season=2&act=2'
eu_link7 = 'https://dak.gg/valorant/leaderboard?shard=eu&page=7&season=2&act=2'
eu_link8 = 'https://dak.gg/valorant/leaderboard?shard=eu&page=8&season=2&act=2'
eu_link9 = 'https://dak.gg/valorant/leaderboard?shard=eu&page=9&season=2&act=2'
eu_link10 = 'https://dak.gg/valorant/leaderboard?shard=eu&page=10&season=2&act=2'

#Create Top 500 European 500 df's
df_eu1 = scrape(eu_link1)
df_eu2 = scrape(eu_link2)
df_eu3 = scrape(eu_link3)
df_eu4 = scrape(eu_link4)
df_eu5 = scrape(eu_link5)
df_eu6 = scrape(eu_link6)
df_eu7 = scrape(eu_link7)
df_eu8 = scrape(eu_link8)
df_eu9 = scrape(eu_link9)
df_eu10 = scrape(eu_link10)

In [9]:
#Concatenate the Top 500 European dataframe
df_EU = pd.concat([df_eu1, 
                   df_eu2,
                   df_eu3, 
                   df_eu4, 
                   df_eu5, 
                   df_eu6, 
                   df_eu7, 
                   df_eu8, 
                   df_eu9, 
                   df_eu10])

#Add Region feature dataframe
df_EU['Region'] = 'Europe'

#Drop Most Agent Columns
df_EU.drop(columns= 'Most Agents', inplace=True)

## North American Region

In [10]:
#Create Top 500 NA stat links
na_link1 = 'https://dak.gg/valorant/leaderboard?shard=na'
na_link2 = 'https://dak.gg/valorant/leaderboard?shard=na&page=2&season=2&act=2'
na_link3 = 'https://dak.gg/valorant/leaderboard?shard=na&page=3&season=2&act=2'
na_link4 = 'https://dak.gg/valorant/leaderboard?shard=na&page=4&season=2&act=2'
na_link5 = 'https://dak.gg/valorant/leaderboard?shard=na&page=5&season=2&act=2'
na_link6 = 'https://dak.gg/valorant/leaderboard?shard=na&page=6&season=2&act=2'
na_link7 = 'https://dak.gg/valorant/leaderboard?shard=na&page=7&season=2&act=2'
na_link8 = 'https://dak.gg/valorant/leaderboard?shard=na&page=8&season=2&act=2'
na_link9 = 'https://dak.gg/valorant/leaderboard?shard=na&page=9&season=2&act=2'
na_link10 = 'https://dak.gg/valorant/leaderboard?shard=na&page=10&season=2&act=2'

#Create Top 500 NA 500 df's
df_na1 = scrape(na_link1)
df_na2 = scrape(na_link2)
df_na3 = scrape(na_link3)
df_na4 = scrape(na_link4)
df_na5 = scrape(na_link5)
df_na6 = scrape(na_link6)
df_na7 = scrape(na_link7)
df_na8 = scrape(na_link8)
df_na9 = scrape(na_link9)
df_na10 = scrape(na_link10)

In [11]:
#Concatenate the Top 500 NA dataframe
df_NA = pd.concat([df_na1, 
                   df_na2,
                   df_na3, 
                   df_na4, 
                   df_na5, 
                   df_na6, 
                   df_na7, 
                   df_na8, 
                   df_na9, 
                   df_na10])

#Add Region feature dataframe
df_NA['Region'] = 'North America'

#Drop Most Agent Columns
df_NA.drop(columns= 'Most Agents', inplace=True)

## Asia Pacific Region

In [12]:
#Create Top 500 AP stat links
ap_link1 = 'https://dak.gg/valorant/leaderboard?shard=ap'
ap_link2 = 'https://dak.gg/valorant/leaderboard?shard=ap&page=2&season=2&act=2'
ap_link3 = 'https://dak.gg/valorant/leaderboard?shard=ap&page=3&season=2&act=2'
ap_link4 = 'https://dak.gg/valorant/leaderboard?shard=ap&page=4&season=2&act=2'
ap_link5 = 'https://dak.gg/valorant/leaderboard?shard=ap&page=5&season=2&act=2'
ap_link6 = 'https://dak.gg/valorant/leaderboard?shard=ap&page=6&season=2&act=2'
ap_link7 = 'https://dak.gg/valorant/leaderboard?shard=ap&page=7&season=2&act=2'
ap_link8 = 'https://dak.gg/valorant/leaderboard?shard=ap&page=8&season=2&act=2'
ap_link9 = 'https://dak.gg/valorant/leaderboard?shard=ap&page=9&season=2&act=2'
ap_link10 = 'https://dak.gg/valorant/leaderboard?shard=ap&page=10&season=2&act=2'

#Create Top 500 AP 500 df's
df_ap1 = scrape(ap_link1)
df_ap2 = scrape(ap_link2)
df_ap3 = scrape(ap_link3)
df_ap4 = scrape(ap_link4)
df_ap5 = scrape(ap_link5)
df_ap6 = scrape(ap_link6)
df_ap7 = scrape(ap_link7)
df_ap8 = scrape(ap_link8)
df_ap9 = scrape(ap_link9)
df_ap10 = scrape(ap_link10)

In [13]:
#Concatenate the Top 500 AP dataframe
df_AP = pd.concat([df_ap1, 
                   df_ap2,
                   df_ap3, 
                   df_ap4, 
                   df_ap5, 
                   df_ap6, 
                   df_ap7, 
                   df_ap8, 
                   df_ap9, 
                   df_ap10])

#Add Region feature dataframe
df_AP['Region'] = 'Asia Pacific'

#Drop Most Agent Columns
df_AP.drop(columns= 'Most Agents', inplace=True)

## Brazil Region

In [14]:
#Create Top 500 BR stat links
br_link1 = 'https://dak.gg/valorant/leaderboard?shard=br'
br_link2 = 'https://dak.gg/valorant/leaderboard?shard=br&page=2&season=2&act=2'
br_link3 = 'https://dak.gg/valorant/leaderboard?shard=br&page=3&season=2&act=2'
br_link4 = 'https://dak.gg/valorant/leaderboard?shard=br&page=4&season=2&act=2'
br_link5 = 'https://dak.gg/valorant/leaderboard?shard=br&page=5&season=2&act=2'
br_link6 = 'https://dak.gg/valorant/leaderboard?shard=br&page=6&season=2&act=2'
br_link7 = 'https://dak.gg/valorant/leaderboard?shard=br&page=7&season=2&act=2'
br_link8 = 'https://dak.gg/valorant/leaderboard?shard=br&page=8&season=2&act=2'
br_link9 = 'https://dak.gg/valorant/leaderboard?shard=br&page=9&season=2&act=2'
br_link10 = 'https://dak.gg/valorant/leaderboard?shard=br&page=10&season=2&act=2'

#Create Top 500 BR 500 df's
df_br1 = scrape(br_link1)
df_br2 = scrape(br_link2)
df_br3 = scrape(br_link3)
df_br4 = scrape(br_link4)
df_br5 = scrape(br_link5)
df_br6 = scrape(br_link6)
df_br7 = scrape(br_link7)
df_br8 = scrape(br_link8)
df_br9 = scrape(br_link9)
df_br10 = scrape(br_link10)

In [15]:
#Concatenate the Top 500 BR dataframe
df_BR = pd.concat([df_br1, 
                   df_br2,
                   df_br3, 
                   df_br4, 
                   df_br5, 
                   df_br6, 
                   df_br7, 
                   df_br8, 
                   df_br9, 
                   df_br10])

#Add Region feature dataframe
df_BR['Region'] = 'Brazil'

#Drop Most Agent Columns
df_BR.drop(columns= 'Most Agents', inplace=True)

## Latin America Region

In [16]:
#Create Top 500 LATAM stat links
la_link1 = 'https://dak.gg/valorant/leaderboard?shard=latam'
la_link2 = 'https://dak.gg/valorant/leaderboard?shard=latam&page=2&season=2&act=2'
la_link3 = 'https://dak.gg/valorant/leaderboard?shard=latam&page=3&season=2&act=2'
la_link4 = 'https://dak.gg/valorant/leaderboard?shard=latam&page=4&season=2&act=2'
la_link5 = 'https://dak.gg/valorant/leaderboard?shard=latam&page=5&season=2&act=2'
la_link6 = 'https://dak.gg/valorant/leaderboard?shard=latam&page=6&season=2&act=2'
la_link7 = 'https://dak.gg/valorant/leaderboard?shard=latam&page=7&season=2&act=2'
la_link8 = 'https://dak.gg/valorant/leaderboard?shard=latam&page=8&season=2&act=2'
la_link9 = 'https://dak.gg/valorant/leaderboard?shard=latam&page=9&season=2&act=2'
la_link10 = 'https://dak.gg/valorant/leaderboard?shard=latam&page=10&season=2&act=2'

#Create Top 500 LATAM 500 df's
df_la1 = scrape(la_link1)
df_la2 = scrape(la_link2)
df_la3 = scrape(la_link3)
df_la4 = scrape(la_link4)
df_la5 = scrape(la_link5)
df_la6 = scrape(la_link6)
df_la7 = scrape(la_link7)
df_la8 = scrape(la_link8)
df_la9 = scrape(la_link9)
df_la10 = scrape(la_link10)

In [17]:
#Concatenate the Top 500 LATAM dataframe
df_LA = pd.concat([df_la1, 
                   df_la2,
                   df_la3, 
                   df_la4, 
                   df_la5, 
                   df_la6, 
                   df_la7, 
                   df_la8, 
                   df_la9, 
                   df_la10])

#Add Region feature dataframe
df_LA['Region'] = 'Latin America'

#Drop Most Agent Columns
df_LA.drop(columns= 'Most Agents', inplace=True)

## Final Dataframe

In [18]:
#Combine all region dataframes
df_final = pd.concat([df_NA, 
                   df_EU,
                   df_KR, 
                   df_BR, 
                   df_LA, 
                   df_AP])

#Timestamped Dataframe
# df_final_3_22_21 = pd.concat([df_NA, 
#                    df_EU,
#                    df_KR, 
#                    df_BR, 
#                    df_LA, 
#                    df_AP])

In [20]:
#Get current Datestamp 
datestamp = pd.Timestamp.now().strftime('%Y-%m-%d_%H%M')
#Create CSV
df_final.to_csv(f'{datestamp}_Val_Top500_Stats', index = False)

In [55]:
datestamp = pd.Timestamp.now().strftime('%Y-%m-%d_%H%M')
datestamp

'2021-03-21_2135'

In [52]:
df_final_3_22_21.tail()

,Rank,Player,Rating,Winrate,Games,Avg.Score,HS%,Class,Region
45,496,99Scrim#5513,332,56.0%,27,"5,638",26.2%,Duelist,Asia Pacific
46,497,SE Gemini#0115,332,58.3%,34,"5,140",22.3%,Duelist,Asia Pacific
47,498,しゅんすけ#annkw,332,70.0%,27,"4,781",29.2%,Controller,Asia Pacific
48,499,Hello Beautiful#Heyy,331,60.0%,15,"5,436",25.4%,Duelist,Asia Pacific
49,500,真实的#stx,331,52.5%,21,"4,786",18.4%,Duelist,Asia Pacific

In [53]:
df_final_3_22_21.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3000 entries, 0 to 49
Data columns (total 9 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Rank       3000 non-null   object
 1   Player     3000 non-null   object
 2   Rating     3000 non-null   object
 3   Winrate    3000 non-null   object
 4   Games      3000 non-null   object
 5   Avg.Score  3000 non-null   object
 6   HS%        3000 non-null   object
 7   Class      3000 non-null   object
 8   Region     3000 non-null   object
dtypes: object(9)
memory usage: 234.4+ KB

In [54]:
df_final.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3000 entries, 0 to 49
Data columns (total 9 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Rank       3000 non-null   object
 1   Player     3000 non-null   object
 2   Rating     3000 non-null   object
 3   Winrate    3000 non-null   object
 4   Games      3000 non-null   object
 5   Avg.Score  3000 non-null   object
 6   HS%        3000 non-null   object
 7   Class      3000 non-null   object
 8   Region     3000 non-null   object
dtypes: object(9)
memory usage: 234.4+ KB